p {
    color:darkgray
}

body {
    background-color:cadetblue;
}

h2 {
    color:lightcoral;
}

#test1 {
    color: red;
}

#test2 {
    color: blue;
}

.purple {
    color: purple;
}

.upper {
    text-transform: uppercase;
}

.div1 {
 width: 300px;
 height: 100px;
 border: 1px solid blue;
}

.div2 {
 width: 380px;
 height: 100px;
 padding: 50px;
 border: 1px solid red;
 box-sizing: border-box; 
}