.column{
    width: 48%;
    padding: 0 15px;
    box-sizing: border-box;
    background: #97ddff;
    float: left;
}

.container .column:first-child{
margin-right: 4%;
}

@media screen and (max-width: 767px){
    .column{
        width: 100%;
        padding: 5px 20px;
        float: none;
    }


    .container .column:first-child{
    margin-right: 0;
    margin-bottom: 20px;
    }
}